.section-counts {
  justify-content: center;
}

.section-about {
  margin-bottom: 3rem;
}

#footer {
  background-color: #542ca4;
}

#footer .footer-copyright p {
  color: white;
}

#footer .footer-copyright.footer-copyright-style-2 {
  background: #542da4;
  border-top: 1px solid rgb(84 45 164 / 5%);
}

#footer p {
  color: white;
}

#footer a {
  color: white !important;
}

.btn12 {
  padding: 20px;
  color: white;
  background-color: #542ca4;
  border-radius: 20px;
  text-decoration: none;
}

@media (min-width: 991px) and (max-width: 1199px) {
  .header-row {
    flex-direction: column;
  }

  #header .header-column .header-row {
    flex-direction: row;
    justify-content: center;
  }

  .header-container.header-container-height-sm.container.container-xl-custom {
    height: auto;
  }

  #header .header-container.header-container-height-sm {
    height: auto;
  }
}

@media (max-width: 1300px) {
  section.section.overlay.overlay-show.overlay-op-8.border-0.m-0.p-0 {
    background-position-x: -1044px !important;
  }
}

@media (max-width: 991px) {
  .card-space {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn-modern {
    padding: 1rem 0.5rem;
  }

  .center-btn {
    display: flex;
    justify-content: center;
  }

  .word-rotator.type b.is-visible {
    display: flex !important;
    flex-wrap: wrap;
    gap: 2px;
  }

  section.section.overlay.overlay-show.overlay-op-8.border-0.m-0.p-0 {
    background-position-x: -1492px !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width: 575px) {
  .btn-acess {
    display: block;
  }
}

@media (min-width: 576px) {
  .btn-acess {
    display: none !important;
  }
}
